header {
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#highscore, #timer {
    padding: 20px 30px 20px 30px;
    font-size: large;
}

#timer {
    display: flex;
}

#highscore a {
    text-decoration: none;
}

.quiz-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.quiz-content h1 {
    color: blue;
    font-size: 50px;
    padding: 40px;
    text-align: center;
}

.quiz-content p {
    text-align: center;
    font-size: x-large;
}

.answer-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    background-color: blue;
    color: white;
    font-size: 25px;
    width: 500px;
    height: 75px;
    border-radius: 50px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .75);
    padding: 5px;
    margin: 5px;
}

#btn:active {
    opacity: .75;
}

#save-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name-input input {
    width: 500px;
    height: 50px;
    border: 1px solid blue;
    border-radius: 50px;
    text-align: center;
    font-size: x-large;
}

@media screen and (max-width: 575px){
    .quiz-content h1 {
        font-size: 30px;
    }

    .quiz-content p {
        font-size: medium;
    }

    .btn {
        width: 300px;
        font-size: 18px;
    }
}



