/* Header and footer styling*/
header, footer{
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#highscore, #timer {
    padding: 20px 30px 20px 30px;
    font-size: large;
}

#timer {
    display: flex;
}

.highscore a {
    text-decoration: none;
}

/* main content styling */
.quiz-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.quiz-content h1 {
    color: blue;
    font-size: 40px;
    padding: 40px;
    text-align: center;
}

.quiz-content p {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.answer-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

/* button styling*/
.btn {
    background-color: blue;
    color: white;
    font-size: 25px;
    width: 500px;
    height: 75px;
    border-radius: 50px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .75);
    padding: 5px;
    margin: 5px;
}

#btn:active {
    opacity: .75;
}


#name-input input {
    width: 500px;
    height: 50px;
    border: 1px solid blue;
    border-radius: 50px;
    text-align: center;
    font-size: x-large;
}

/* footer*/
footer, .hs-header{
    justify-content: center;
    align-items: center;
    height: 75px;
}

/* highscore page styling*/
#mainHs {
    display: flex;
    justify-content: center;
}

#scores {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
    margin: 5px 0px 20px 0px ;
    padding: 0;
}

#name-input input {
    width: 500px;
    height: 50px;
    border: 1px solid blue;
    border-radius: 50px;
    text-align: center;
    font-size: x-large;
}

#hsButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainHs {
    font-size: xx-large;
    text-align: center;
    margin: 15px;
}

/*media queries*/
@media screen and (max-width: 575px){
    .quiz-content h1 {
        font-size: 25px;
    }

    .quiz-content p {
        font-size: medium;
    }

    .btn, #name-input input {
        width: 300px;
        height: 50px;
        font-size: 18px;
    }

   
}



